body {
    background: #AAAAAA;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn, .btn:hover, .btn:focus {
    background-color: #E0E0E0;
    text-transform: none;
    /* width: 125px; */
    margin: 0 10px;
}

.modal-content .modal-footer .btn {
    margin: 10px;
}

.navbar-brand {
    text-align: center;
    margin: 0 auto;
}

h4 {
    text-align: center;
    font-weight: bold;
}

#guestButtons, #memberButton, #accountPageButton {
    text-align: right;
}

#mainPage, #generatePage {
    text-align: center;
}

#mainPage #generateButton, #mainPage #browseMapsButton {
    width: 370px;
    margin-top: 20px;
    font-size: 1.5em;
}

#generateButtons button {
    width: 150px;
    margin-top: 20px;
}

#mapListContainer {
    border: 1px solid black;
    padding: 16px;
}

.map-item {
    display: flex;
    word-break: break-all;
    margin-top: 8px;
    margin-bottom: 8px;
}

.map-icon {
    background-color: #c4c4c4;
    border: 1px solid black;
    flex: 0 0 90px;
    margin-right: 8px;
}

.map-details {
    display: flex;
    background-color: #c4c4c4;
    border: 1px solid black;
    flex: 1 1 auto;
    font-size: 10pt;
    justify-content: space-between;
    min-height: 90px;
    padding: 4px;
}

.map-detail-lines {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    float: left;
    height: 100%;
    justify-content: space-evenly;
}

.map-detail-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    float: right;
}

.map-detail-buttons .btn {
    width: 100%;
    font-size: 10pt;
    margin: 0;
}

#mapNavDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal button {
    background-color: #800000;
    color: white;
}

.is-focused .bmd-label-floating {
    color: #800000;
}

.is-focused .form-control {
    background-image: linear-gradient(0deg,#800000 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.error {
    color: red;
}