body {
    background: #AAAAAA;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.btn, .btn:hover, .btn:focus {
    background-color: #E0E0E0;
    text-transform: none;
    /* width: 125px; */
    margin: 0 10px;
}

.navbar-brand {
    text-align: center;
    margin: 0 auto;
}

#guestButtons, #memberButton {
    text-align: right;
}